@import "tailwindcss";

/* Mengatur variabel warna dasar untuk Light & Dark Mode */
@layer base {
  :root {
    /* Light Mode Colors */
    --background: #F1F1F1;
    --foreground: #171717;
  }

  .dark {
    /* Dark Mode Colors */
    --background: #0A0A0A;
    --foreground: #EDEDED;
  }

  /* Terapkan ke body */
  body {
    background-color: var(--background);
    color: var(--foreground);
    /* Transisi halus saat ganti tema */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}